{% extends 'layout.twig' %}

{% block head %}
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="public/scripts/pathologies_C.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="public/styles/pathologies_C.css"/>
{% endblock %}

{% block content %}
    <ul class="collapsible">
        {% for item in symptomesByPathologie %}
            <li>
                <div class="collapsible-header"><i class="material-icons">transfer_within_a_station</i>{{ item.desc|capitalize }}</div>
                <div class="collapsible-body">
                    <ul>
                        {% for symptome in item.symptomes %}
                            <li>{{ symptome.desc }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </li>
        {% endfor %}
    </ul>

    <div class="row">
        <div id="crit-meridien">
            <div class="input-field col s2 offset-m2">
                <select searchable="Type name">
                    <option value="" disabled selected>Choose your option</option>
                    {% set i = 1 %}
                    {% for meridien in meridiens %}
                        <option value={{ i }}>{{ meridien.nom }}</option>
                        {% set i = i + 1 %}
                    {% endfor %}
                </select>
                <label>Meridien</label>
            </div>
        </div>

        <div id="crit-type-path">
            <div class="input-field col s2">
                <select searchable="Type description">
                    <option value="" disabled selected>Choose your option</option>
                    {% set i = 1 %}
                    {% for pathologie in pathologies %}
                        <option value={{ i }}>{{ pathologie.desc }}</option>
                        {% set i = i + 1 %}
                    {% endfor %}
                </select>
                <label>Type de pathologie</label>
            </div>
        </div>

        <div id="crit-carac">
            <div class="input-field col s2 ">
                <select searchable="Type name">
                    <option value="" disabled selected>Choose your option</option>
                    {% set i = 1 %}
                    {% for keyword in keywords %}
                        <option value={{ i }}>{{ keyword.name }}</option>
                        {% set i = i + 1 %}
                    {% endfor %}
                </select>
                <label>Caractéristique</label>
            </div>
        </div>

        <div id="symptome">
            <div class="input-field col s2">
                <select multiple searchable="Type description">
                    <option value="" disabled selected>Choose your option</option>
                    {% set i = 1 %}
                    {% for symptome in symptomes %}
                        <option value={{ i }}>{{ symptome.desc }}</option>
                        {% set i = i + 1 %}
                    {% endfor %}
                </select>
                <label>Symptômes</label>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function(){
            $('select').formSelect();
            $('.collapsible').collapsible();
        });
    </script>
{% endblock %}