{% extends 'layout.twig' %}

{% block head %}
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="public/scripts/pathologies_C.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="public/styles/pathologies_C.css"/>
{% endblock %}

{% block content %}
    <ul class="collapsible collapsible-master">
        {% for item in symptomesByPathologie %}
            <li>
                <div class="collapsible-header master"><i class="material-icons">transfer_within_a_station</i>{{ item.desc|capitalize }} | {{ item.mer }}</div>
                <div class="collapsible-body">
                    <ul>
                        {% for symptome in item.symptomes %}
                            <ul class="collapsible collapsible-slave">
                                <li>
                                    <div class="collapsible-header slave"><i class="material-icons">transfer_within_a_station</i>{{ symptome.desc }}</div>
                                    <div class="collapsible-body">
                                        <ul>
                                            {% for itemBis in keywordsBySymptome %}
                                                {% if itemBis.idS == symptome.idS %}
                                                    {% for keyword in itemBis.keywords %}
                                                        <li>{{ keyword.name|capitalize }}</li>
                                                    {% endfor %} 
                                                {% endif %}
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        {% endfor %}
                    </ul>
                </div>
            </li>
        {% endfor %}
    </ul>

    <div onchange="filter()" class="row">
        <div class="input-field col s2 offset-m2">
            <select id="crit-meridien" multiple searchable="Type name">
                {% set i = 1 %}
                {% for meridien in meridiens %}
                    <option value={{ i }}>{{ meridien.nom }}</option>
                    {% set i = i + 1 %}
                {% endfor %}
            </select>
            <label>Meridien</label>
        </div>

        <div class="input-field col s2">
            <select id="crit-type-path" multiple searchable="Type description">
                {% set i = 1 %}
                {% for pathologie in pathologies %}
                    <option value={{ i }}>{{ pathologie.desc|capitalize }}</option>
                    {% set i = i + 1 %}
                {% endfor %}
            </select>
            <label>Type de pathologie</label>
        </div>

        <div class="input-field col s2 ">
            <select id="crit-carac" multiple searchable="Type name">
                {% set i = 1 %}
                {% for keyword in keywords %}
                    <option value={{ i }}>{{ keyword.name|capitalize }}</option>
                    {% set i = i + 1 %}
                {% endfor %}
            </select>
            <label>Caractéristique</label>
        </div>

        <div class="input-field col s2">
            <select id="symptomes" multiple searchable="Type description">
                {% set i = 1 %}
                {% for symptome in symptomes %}
                    <option value={{ i }}>{{ symptome.desc }}</option>
                    {% set i = i + 1 %}
                {% endfor %}
            </select>
            <label>Symptômes</label>
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function(){
            $('select').formSelect();
            $('.collapsible').collapsible();
        });
    </script>
{% endblock %}